[twitch]
app_id = "<>"  # Twitch App ID
app_secret = "<>"  # Twitch App Secret
channel = "mychannel"  # Twitch channel to listen to
auth_url = "http://localhost:17563/oauth2/authorize"  # Twitch OAuth2 authorization URL
user_token_file = "usr_token.toml"  # Twitch user auth file
enable_cmds = true  # Set to false to disable listening for commands

[start]
minutes = 60  # How many minutes to have on the clock at the beginning
time = 2023-09-27T12:00:00-07:00

[end]
max_minutes = 4320  # 3 full days (3 * 24 * 60). Set to 0 for uncapped

[db]
events = "db/events.csv"  # File to store every event
pause = "db/pause.txt"  # File to note how long stream has been paused
pause_log = "db/pause_log.txt"  # File to log updates to pause time
end_mark = "db/end.toml"

[output]
dir = "out"  # Directory to write the output files
bits = "bits.txt"
subs = "subs.txt"
tips = "tips.txt"
countdown = "countdown.txt"
total_value = "total_value.txt"

[bits]
min = 0.02
money = 0.01
[bits.msg.SoundAlerts]
# Example: SoundAlerts: User1 played Modem for 150 Bits
regex = "(?P<user>[^ ]*) played (?P<alert>.*) for (?P<amount>[^ ]*) Bits.*"

[subs]
[subs.plan]
Prime = "t1"
1000 = "t1"
2000 = "t2"
3000 = "t3"
[subs.tier]
t1 = {min = 5, money = 2.5}
t2 = {min = 10, money = 5}
t3 = {min = 25, money = 10}

[tips]
min = 2
money = 1

[tips.msg.StreamElements]
# Example: StreamElements: User2 just tipped $25.00 emoteHeart
regex = "(?P<user>.*) just tipped \\$(?P<amount>[\\d.]*) emoteHeart.*"


[fmt]
countdown_pause = "{clock} PAUSED"
cmd_blocked = "Non-mod user {user} just tried to !{cmd}"
cmd_after_end = "Can't run !{cmd} because timer ended at {end_min} minutes"
tpause_success = "Pause started"
tpause_failure = "Pause already started at {pause_start}"
tresume_success = "Pause resumed with an addition of {added_min:.02f} minutes for a total of {pause_min:.02f} minutes"
tresume_failure = "Pause not started"
traised_success = "Raised ${total_value:.2f} and has run for {so_far_total_min:.2f}/{min_end_at:.2f} minutes"
missing_time_parameter_failure = "Please enter an amount of time after !{cmd}"
invalid_time_parameter_failure = "Failed to parse parameter with error: {err}"
tadd_success = "Added {pause_delta} minutes to the clock"
tremove_success = "Removed {pause_delta} minutes from the clock"
